$mobile-xs: 392px;
$mobile: 592px;
$tablet: 992px;
$desctop-small: 1200px;

@mixin mobile-xs {
  @media screen and (max-width: $mobile-xs) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}
@mixin desctop-small {
  @media screen and (max-width: $desctop-small) {
    @content;
  }
}
